body{
    font-family: Roboto, sans-serif;
    color:#434455;
    background-color:white;
    font-weight:normal;
    
}

p{
    font-size: 14px;
    line-height:1;

}
.nav-label>.list-one:first-child{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.a-links-one{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.a-links-one:hover{
    color: #404bbf;
    cursor: pointer;
}
.a-links-one:focus{
    color: #404bbf;
    cursor: pointer;
}
.a-links:hover{
    color: #404bbf;
    cursor: pointer;
}
.a-links:focus{
    color: #404bbf;
    cursor: pointer;
}
.section-one>.o-but{
    cursor: pointer;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.section-one>.o-but:hover{
    background-color: #404BBF;
}
.section-one>.o-but:focus{
    background-color: #404BBF;
}
.a-link-one{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
span{
    color:#2e2f42;
}
.list-one:first-child .a-links{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.list-one:first-child .a-links:hover{
    color: #404bbf;
}
.contacts{
    font-style: normal;
}
.contacts a{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.contacts a:visited{
    color: #404bbf ;
}
.section-one{
    background-color: #2e2f42;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.section-one>h1{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section-two .third-header{
    font-weight: 500;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;

}
.section-two p{
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455 ;

}

.section-three{
    background-color: #F4F4FD;

}
.section-three .du-header{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-three li{
    background-color: #FFFFFF;

}
.section-three .list-header{
    font-weight: 500 ;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42 ;

}
.section-three p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.section-four h2{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section-four h3{
    font-weight: 500;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.section-four .parag{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.footer-m{
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif ;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-m .spans{
    color: #f4f4fd;
}
.logo-footer-text{
    line-height: 1.5;
    color:#f4f4fd;
    letter-spacing: 0.02em;
}
.footer-m>.a-links{
    color:#4d5ae5;
}