body{
    font-family: Roboto, sans-serif;
    color:#434455;
    background-color:white;
    font-weight:normal;
    
}

p{
    font-size: 14px;
    line-height:1;

}
.nav-label ul:first-child a{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    

}

.nav-label ul:first-child a{
    background-color: #404BBF;
    cursor: pointer;
}
.section-one>.order-button{
    cursor: pointer;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.a-link-one{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
span{
    color:#2e2f42;
}
.list-one:first-child{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
#first-link{
    color:#2e2f42;
}
.a-links:hover{
    color: #404bbf;
}
.contacts a{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.contacts a:hover{
    color: #404bbf ;
}
.section-one{
    background-color: #2e2f42;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.section-one>h1{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.section-two>.list-header{
    font-weight: 500;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;

}
.section-two p{
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455 ;

}


.footer{
    background-color: #2e2f42;
    font-family: "Raleway", sans-serif ;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5 ;
    
}
.footer>span{
    color: #f4f4fd;
}
.footer>p{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
.section-three{
    background-color: #F4F4FD;

}
.section-three h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-three li{
    background-color: #FFFFFF;

}
.section-three h2{
    font-weight: 500 ;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42 ;

}
.section-three p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.section-four>img{
    width:360;

}
.section-four h2{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section-four h3{
    font-weight: 500;
    font-size: 20px ;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.section-four .parag{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}